html{
	background-color:rgb(243, 243, 243);
}
*{
	font-family: Helvetica;
}
h1,h2,h3,h4,h5,h6{
	font-family: Times;
}
h1{
	font-size:56px;
}

body{
	margin: 0 auto;
	margin-top:5px;
	padding:10px;
	width:90%;
	font-size:24px;
	text-align:center
}
#nav{
	border-style: solid none;
	border-width: 1px;
	border-color: black;
	list-style-type: none;
	padding: 15px 0;
}
#nav li{
	padding: 5px 30px;
	display:inline-block;
	border-right:1px solid black;
}
#nav li:last-child{
	border-style:none;
}
#nav li a{
	text-decoration:none;
	color:rgb(70,70,70);
}
#nav li a:visited{
	color:rgb(70,70,70);
}

#recipeList li{
	display:block;
	width:200px;
	float:left;
    padding:7px;
    border-radius:3px;
}
#recipeList li:hover{
    box-shadow: 0 0 3px black;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
input{
	border-radius: 5px;
	padding:7px;
	margin:5px;
    font-size: 75%;
}
textarea{
	border-radius: 5px;
	padding:7px;
	margin:5px;
	font-size:80%;
}
button{
	padding:5px;
	background-color:rgb(235, 235, 235);
	border: 1px solid rgb(173, 173, 173);
}
.buttonIcon{
    cursor:pointer;
}

.recipeName{
	background-color: rgb(255, 252, 243);
	border: 1px solid rgb(173, 173, 173);
}

.recipeSectionLabel,.scalarLabel,.recipeInstructionsLabel{
	display:inline;
	margin-right: 10px;
}
.ingNameInput{
	width:50%;
}

.instInput{
	width:85%;
}

#registrationForm,#loginForm{
	width:90%;
}
#usernameEntry,#passwordEntry,#passwordEntry2{
	width:400px;
}

#ingredientScalar{
	width: 3em;
}
#recipeIngredientsList, #recipeIngredients{
	width:95%;
	max-width:800px;
	list-style-type:none;
	margin:0 auto;
}
#recipeIngredientsList li{
	display:block;
}
.recipeIngredient{
	text-align:right;
}
.recipeIngredientName{
	float:left;
}
.recipeIngredientAmount,.ingAmountInput{
	width:5em;
	text-align:right;
}
.recipeIngredientAmount{
	background-color: rgb(255, 252, 243);
	border:none;
	padding:2px;
	font-size:90%;
}
.ingUnitInput{
	width:4em;
}
#recipeInstructionsList,#recipeInstructions,#conversionIngredient,.unitSection{
	width:95%;
	max-width:800px;
	margin:0 auto;
}
.recipeInstruction{
	text-align:left;
}
.recipeInstructionEdit{
	width:90%;
}
.recipeTitle{
    margin-bottom: 8px;
}
.recipeInstructionsLabel{
    margin: 5px auto;
}
.instructionDiv span{
	float:left;
}

#recipeMod{
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
}
#editRecipeButton,#deleteRecipeButton{
	margin: 0 5px;
	display:inline-block;
}

#conversionIngredient{
	border-radius: 5px;
	padding:7px;
	margin:5px;
	font-size: 75%;
	text-align: center;
}
.unitSection{
	text-align:right;
}
.unitLabel{
	float:left;
	margin-left:50px;
}
.unitAmount{
	margin-right:50px;
}

.successMessage{
	display:block;
	color:rgb(0, 43, 2);
}
.failureMessage{
	display:block;
	color:rgb(61, 0, 0);
}
