html{
	background-color:rgb(243, 243, 243);
}
h1{
	font-size:56px;
}

body{
	margin: 0 auto;
	margin-top:5px;
	padding:10px;
	width:90%;
	font-size:24px;
	text-align:center
}
#nav{
	border-style: solid none;
	border-width: 1px;
	border-color: black;
	list-style-type: none;
	padding: 15px 0;
}
#nav li{
	padding: 5px 30px;
	display:inline-block;
	border-right:1px solid black;
}
#nav li:last-child{
	border-style:none;
}
#nav li a{
	text-decoration:none;
	color:rgb(70,70,70);
}
#nav li a:visited{
	color:rgb(70,70,70);
}

#recipeList li{
	display:block;
	width:200px;
	float:left;
}

input{
	border-radius: 5px;
	padding:7px;
	margin:5px;
}
button{
	padding:5px;
	background-color:rgb(235, 235, 235);
	border: 1px solid rgb(173, 173, 173);
}

.recipeName{
	background-color: rgb(255, 252, 243);
	border: 1px solid rgb(173, 173, 173);
}

.recipeSectionLabel,.scalarLabel{
	display:inline;
	margin-right: 10px;
}
.ingNameInput{
	width:50%;
}

.instInput{
	width:90%;
}

#registrationForm,#loginForm{
	width:90%;
}
#usernameEntry,#passwordEntry,#passwordEntry2{
	width:400px;
}

#ingredientScalar{
	width: 3em;
}
#recipeIngredientsList{
	width:95%;
	max-width:500px;
	list-style-type:none;
	margin:0 auto;
}
#recipeIngredientsList li{
	display:block;
}
.recipeIngredient{
	text-align:right;
}
.recipeIngredientName{
	float:left;
}
.recipeIngredientAmount{
	width:5em;
	background-color: rgb(255, 252, 243);
	border:none;
	text-align:right;
}
#recipeInstructionsList{
	width:95%;
	max-width:800px;
	margin:0 auto;
}
.recipeInstruction{
	text-align:left;
}
#editRecipeButton,#deleteRecipeButton{
	margin: 10px auto;
	display:block;
}
.successMessage{
	display:block;
	color:rgb(0, 43, 2);
}
.failureMessage{
	display:block;
	color:rgb(61, 0, 0);
}